@page "/Inicio_sesion_cliente"
@using Proyecto____def.Servicios
@inject UsuarioService usuarioService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h4 class="titulo">Inicio de Sesion Cliente</h4>

<div class="form-group">
    <center> <label for="usuario">Usuario:</label></center>
    <center><input type="text" size="15" maxlength="30" id="usuario" @bind="usuario" class="form-control" /></center>
</div>

<div class="form-group">
    <center> <label for="contraseña">Contraseña:</label> </center>
    <input type="password" id="contraseña" @bind="contraseña" class="form-control" />
</div>

<center>
<button class="btn btn-secondary" @onclick="IniciarSesion">Iniciar Sesión</button>
</center>
@code {
    private string usuario;
    private string contraseña;

    private async Task IniciarSesion()
    {
        if (!string.IsNullOrWhiteSpace(usuario) && !string.IsNullOrWhiteSpace(contraseña))
        {
            bool credencialesValidas = await usuarioService.ValidarCredencialesCliente(usuario, contraseña);
            if (credencialesValidas)
            {
                NavigationManager.NavigateTo($"/Cliente/Menu_Cliente/{usuario}");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Credenciales inválidas. Por favor, inténtelo de nuevo.");
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Por favor, complete todos los campos.");
        }
    }
}
