@page "/"

<h1 class="text-center mt-5">Bienvenido</h1>

@if (!mostrarOpciones)
{
    <div class="text-center mt-3">
        <button class="btn btn-primary btn-lg" @onclick="MostrarOpciones">Iniciar Sesión</button>
    </div>
}
else
{
    <div class="mt-3 text-center">
        <button class="btn btn-secondary m-2" @onclick="IrAIniciarSesionCliente">Cliente</button>
        <button class="btn btn-secondary m-2" @onclick="IrATecnico">Técnico</button>
        <button class="btn btn-secondary m-2" @onclick="IrAJefe">Jefe</button>
    </div>
}

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private bool mostrarOpciones = false;

    private void MostrarOpciones()
    {
        mostrarOpciones = true;
    }

    private void IrAIniciarSesionCliente()
    {
        // Redirigir al componente de inicio de sesión del cliente
        NavigationManager.NavigateTo("/Inicio_sesion_cliente");
    }

    private void IrATecnico()
    {
        // Redirigir al componente de inicio de sesión del técnico
        NavigationManager.NavigateTo("/Inicio_sesion_tecnico");
    }

    private void IrAJefe()
    {
        // Redirigir al componente de inicio de sesión del jefe
        NavigationManager.NavigateTo("/iniciar-sesion-jefe");
    }
}
