@page "/"

<h1 class="text-center mt-5">Bienvenido</h1>


@if (!mostrarOpciones)
{
    <div class="text-center mt-3">

        <center><button class="btn btn-secondary" @onclick="MostrarOpciones">Iniciar Sesión</button></center>


    </div>
}
else
{
    <center>
        <div class="btn-group" role="group">
            <button class="btn btn-secondary m-2" @onclick="IrAIniciarSesionCliente">Cliente</button>
            <button class="btn btn-secondary m-2" @onclick="IrATecnico">Técnico</button>
            <button class="btn btn-secondary m-2" @onclick="IrAJefe">Jefe</button>
        </div>
    </center>

}


@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private bool mostrarOpciones = false;

    private void MostrarOpciones()
    {
        mostrarOpciones = true;
    }

    private void IrAIniciarSesionCliente()
    {
        // Redirigir al componente de inicio de sesión del cliente
        NavigationManager.NavigateTo("/Inicio_sesion_cliente");
    }

    private void IrATecnico()
    {
        // Redirigir al componente de inicio de sesión del técnico
        NavigationManager.NavigateTo("/Tecnico/Inicio_Sesion_Tecnico");
    }

    private void IrAJefe()
    {
        // Redirigir al componente de inicio de sesión del jefe
        NavigationManager.NavigateTo("/Jefe/Inicio_Sesion_Jefe");
    }
}