@page "/Jefe/Inicio_Sesion_Jefe"
@using Proyecto____def.Servicios
@inject UsuarioService usuarioService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3 class="titulo">Inicio de sesión Jefe</h3>

<div class="form-group">
   <center> <label for="usuario">Usuario:</label></center>
    <input type="text" id="usuario" @bind="usuario" class="form-control" />
</div>

<div class="form-group">
    <center><label for="contraseña">Contraseña:</label></center>
    <input type="password" id="contraseña" @bind="contraseña" class="form-control" />
</div>

<center><button class="btn btn-secondary" @onclick="IniciarSesion">Iniciar Sesión</button></center>

@code {
    private string usuario;
    private string contraseña;

    private async Task IniciarSesion()
    {
        if (!string.IsNullOrWhiteSpace(usuario) && !string.IsNullOrWhiteSpace(contraseña))
        {
            bool credencialesValidas = await usuarioService.ValidarCredencialesJefe(usuario, contraseña);
            if (credencialesValidas)
            {
                NavigationManager.NavigateTo($"/Jefe/Menu_Jefe/{usuario}");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Credenciales inválidas. Por favor, inténtelo de nuevo.");
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Por favor, complete todos los campos.");
        }
    }
}
