@page "/Tecnico/Inicio_Sesion_Tecnico"
@using Proyecto____def.Servicios
@inject UsuarioService usuarioService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3 class="titulo">Iniciar Sesión como Técnico</h3>

<div class="form-group">
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" @bind="usuario" class="form-control" />
</div>

<div class="form-group">
    <label for="contraseña">Contraseña:</label>
    <input type="password" id="contraseña" @bind="contraseña" class="form-control" />
</div>

<button class="button" @onclick="IniciarSesion">Iniciar Sesión</button>

@code {
    private string usuario;
    private string contraseña;

    private async Task IniciarSesion()
    {
        if (!string.IsNullOrWhiteSpace(usuario) && !string.IsNullOrWhiteSpace(contraseña))
        {
            bool credencialesValidas = await usuarioService.ValidarCredencialesTecnico(usuario, contraseña);
            if (credencialesValidas)
            {
                NavigationManager.NavigateTo($"/Tecnico/Menu_Tecnico/{usuario}");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Credenciales inválidas. Por favor, inténtelo de nuevo.");
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Por favor, complete todos los campos.");
        }
    }
}
